*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main, .product_page_wrapper{
    min-height: 90vh;
}

.product__cards a{
    text-decoration: none;
}

.product__cards a:hover{
    text-decoration: underline;
}

h3.card-text{
    padding: 1rem 0;
}

h1{
font-size: 1.4rem; 
padding: 0.5rem 0;
}

.rating span{
    margin: 0.1rem;
}

strong{color: #000; font-weight: 700 !important;}

.spinner_wrapper {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner_wrapper p{
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
}

.subtotal_heading {
    font-size: 16px;
    font-weight: 400;
}

.text-right{text-align: right;}
.text-left{text-align: left;}

.price{
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1a;
}