*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main, .product_page_wrapper{
    min-height: 90vh;
}

.product__cards a{
    text-decoration: none;
}

.product__cards a:hover{
    text-decoration: underline;
}

h3.card-text{
    padding: 1rem 0;
}

.rating span{
    margin: 0.1rem;
}

strong{color: #000; font-weight: 700 !important;}