*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    min-height: 90vh;
}

.product__cards a{
    text-decoration: none;
}

.product__cards a:hover{
    text-decoration: underline;
}